@import url(//db.onlinewebfonts.com/c/03fe5644d1605049951f58ca7961c33f?family=Samsung+Sharp+Sans+Bold);
@import url('http://fonts.cdnfonts.com/css/product-sans');

/* FONT ----------------------------*/

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  src: url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot");
  src: url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff") format("woff"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.svg#Samsung Sharp Sans Bold") format("svg"); }
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



/* MAIN ----------------------------*/

*{
  margin : 0;
  padding: 0;
}

html, body{


}

/* ORANGE SECTION ----------------------------*/

.orangeSection {
  background-color: #D77559;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.orangeBody {
  background-color: #D77559;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left : 9%;
}


/* ORANGE LEFT ----------------------------*/

.orangeLeft{
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: space-around;
}

.logo{
  width: 20vw;
}

.zeroBadness {
  display: flex;
  flex-direction: row;
}

.goodness {
  font-family: 'Product Sans';
  font-size: 2.2vh;
  color: white;
  margin-top: 1vh;
  margin-left: 1vw;
}

.availableDate {
  font-family: 'Product Sans';
  font-size: 2.5vh;
  color: white;
}

.date {
  margin-top: 1vh;
}

/* ORANGE RIGHT ----------------------------*/

.orangeRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mockUp {
  margin-bottom: 7vh;
}

/* ORANGE FOOTER ----------------------------*/

.orangeFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scroll {
  padding-bottom: 3vh;
}

/* TEXT ----------------------------*/

.zero {
  font-family: 'Product Sans';
  font-size: 6vh;
  color: white;
}

.command {
  font-family: 'Product Sans';
  font-size: 3.3vh;
  color: white;

}



.date{

  width: 194px;
  height: 57px;
  left: 42px;
  top: 683px;
  z-index: 5;
}

/* DIV DE DROITE*/

.droite{
  position: relative;
  width: 70%;
  height: 1000px;
  top: 100%;
  right: 0;
}



.mockup{
  left: 0;
  top: 0;
  z-index: 4;
}


.chatButton{
  position: fixed;
  width: 80px;
  height: 80px;
  left: 93%;
  top: 87%;
  z-index: 10;
}

@media screen and (max-width: 728px) {
  .burger{
    right: 95%;
  }
  .frites{
    right: 10%;
  }
  .pizza{
    right: 30%;
  }
  .chatButton{
    left: 70%;
    bottom: 20%
  }
  .mockup{
    opacity: 0%;
  }
  .textImage_pied_page{
    bottom: 20%;
  }
}

@media screen and (min-width: 1000px){
  .burger{
    right: 95%;
  }
  .frites{
    right: 50%;
  }
  .pizza{
    right: 50%;
  }
  .chatButton{
    left: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .chatButton{
    left: 93%;
  }
}
