@import url(//db.onlinewebfonts.com/c/03fe5644d1605049951f58ca7961c33f?family=Samsung+Sharp+Sans+Bold);
@import url('http://fonts.cdnfonts.com/css/product-sans');

/* FONT ----------------------------*/

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  src: url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot");
  /* src: url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.woff") format("woff"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03fe5644d1605049951f58ca7961c33f.svg#Samsung Sharp Sans Bold") format("svg"); */
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* PURPLE SECTION ----------------------------*/
.purpleSection {
  /* background-color: #9560E3; */
  /* background: linear-gradient(140deg, rgba(143,91,226,1),rgba(143,91,226,1), rgba(120,73,221,1)); */
  background-image: url("../img/purpleBG.png");
  background-size: cover;
  height: 90.5vh;
  display: flex;
  flex-direction: row;
  padding-left : 9%;
  padding-top: 7%;
  overflow: hidden;
}

.purpleLeft {
  width: 47vw;
}

.importantStep {
  color: #7EE3CA;
  font-family: 'Product Sans';
  font-size: 3.3vh;
}

.usageSteps p {
  font-family: 'San Francisco';
  font-size: 2.2vh;
  margin-top: 0.8vh;
}

.usageSteps {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.usageSteps img {
  margin-right: 4vw;
}


/* OUPASAURUS ----------------------------*/
.oupasaurus {
  width: 20vw;
}

.p_position {
  position: fixed;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: normal;
  width: 373px;
  height: 95px;
  left: 40px;
  top: 349px;
  z-index: 7;
}

.font_light{
  color: #000000;
}

.h_dark{
  color: #E76F51;
}

.p_dark{
  color: #FFFFFF;
}


/* .pied_ecriture_position{
  position: fixed;
  height: 29px;
  left: 40px;
  top: 638px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.251449px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 6;
} */

.date{

  width: 194px;
  height: 57px;
  left: 42px;
  top: 683px;
  z-index: 5;
}

/* DIV DE DROITE*/

.droite{
  position: relative;
  width: 70%;
  height: 1000px;
  top: 100%;
  right: 0;
}



.mockup{
  left: 0;
  top: 0;
  z-index: 4;
}


.chatButton{
  position: fixed;
  width: 80px;
  height: 80px;
  left: 93%;
  top: 87%;
  z-index: 10;
}

@media screen and (max-width: 728px) {
  .burger{
    right: 95%;
  }
  .frites{
    right: 10%;
  }
  .pizza{
    right: 30%;
  }
  .chatButton{
    left: 70%;
    bottom: 20%
  }
  .mockup{
    opacity: 0%;
  }
  .textImage_pied_page{
    bottom: 20%;
  }
}

@media screen and (min-width: 1000px){
  .burger{
    right: 95%;
  }
  .frites{
    right: 50%;
  }
  .pizza{
    right: 50%;
  }
  .chatButton{
    left: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .chatButton{
    left: 93%;
  }
}
